<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>Bilance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="karte">
    <h1>Bilance</h1>

    <p><strong>Ienākumi:</strong> {{ "%.2f"|format(ienakumi) }} €</p>
    <p><strong>Izdevumi:</strong> {{ "%.2f"|format(izdevumi) }} €</p>
    <p class="liela">Bilance: {{ "%.2f"|format(bilance) }} €</p>

    <p><a href="/">Atpakaļ uz sākumlapu</a></p>
</div>

</body>
</html>